USE [TimeHistory]
GO
/****** Object:  StoredProcedure [dbo].[usp_WEB1_MoveHours_TransferHours]    Script Date: 3/31/2015 11:53:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_WEB1_MoveHours_TransferHours]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_WEB1_MoveHours_TransferHours] AS' 
END
GO





--usp_WEB1_MoveHours_TransferHours 'CIG1', 900000, '2006-01-21 00:00:00', '01/15/20060001003110', 999001760, 4, 2, 'daleh','',1209 


ALTER     Procedure [dbo].[usp_WEB1_MoveHours_TransferHours]
(
  @Client varchar(4),
  @GroupCode int,
  @PPED datetime,
--  @TransInfo varchar(100),
	@TransDate DATETIME,
	@SiteNo INT,
	@DeptNo INT,
	@ShiftNo INT,
	@ShiftDiffClass char(1),
	@Holiday char(1),
  @SSN int,
  @NewSite int,
  @NewDept int,
  @Hours numeric(8,2),
  @UserName varchar(32),
  @UserCode varchar(5),
  @UserID int
)
AS

SET NOCOUNT ON

DECLARE @RecordID BIGINT  --< @RecordId data type is changed from  INT to BIGINT by Srinsoft on 14Sept2016 >--
/*
DECLARE @TransDate datetime
DECLARE @SiteNo int
DECLARE @DeptNo int
DECLARE @ShiftNo int
DECLARE @ShiftDiffClass char(1)
DECLARE @Holiday char(1)
*/

-- =================== 
-- The @TransInfo field contains all the following fields packed into one field.
--  Position  1 - 10 (Len 10) TransDate      Example: 01/12/2006
--  Position 11 - 14 (Len  4) SiteNo         Example: 1002
--  Position 15 - 17 (Len  3) DeptNo         Example: 004
--  Position 18 - 18 (Len  1) ShiftNo        Example: 2
--  Position 19 - 19 (Len  1) ShiftDiffClass Example: 1
--  Position 20 - 20 (Len  1) Holiday        Example: 0

/*
Set @TransDate = left(@Transinfo,10)
Set @SiteNo = substring(@TransInfo,11,4)
Set @DeptNo = substring(@TransInfo,15,3)
Set @ShiftNo = substring(@TransInfo,18,1)
Set @ShiftDiffClass = substring(@TransInfo,19,1)
Set @Holiday = substring(@TransInfo,20,1)
*/

BEGIN TRANSACTION

  -- Create negating transactions
  INSERT INTO [TimeHistory].[dbo].[tblTimeHistDetail]
        ([Client], [GroupCode], [SSN], [PayrollPeriodEndDate], [MasterPayrollDate], [SiteNo], [DeptNo], [JobID], [TransDate], [EmpStatus], [BillRate], [BillOTRate], [BillOTRateOverride], [PayRate], [ShiftNo], [InDay], [InTime],           [OutDay], [OutTime],          [Hours],       [Dollars], [ClockAdjustmentNo], [AdjustmentCode], [AdjustmentName], [TransType], [AgencyNo], [InSrc], [OutSrc], [DaylightSavTime], [Holiday], [AprvlStatus], [AprvlStatus_UserID], [AprvlStatus_Date], [AprvlAdjOrigRecID], [HandledByImporter], [AprvlAdjOrigClkAdjNo], [ClkTransNo], [ShiftDiffClass], [Borrowed], [UserCode],[OutUserCode], [DivisionID], [CostID], [ShiftDiffAmt],[ActualInTime],[ActualOutTime] )
  Select TOP 1 [Client], [GroupCode], [SSN], [PayrollPeriodEndDate], [MasterPayrollDate], [SiteNo], [DeptNo], [JobID], [TransDate], [EmpStatus], [BillRate], [BillOTRate], [BillOTRateOverride], [PayRate], [ShiftNo], [InDay], [InTime], [OutDay], [OutTime], (-1 * @Hours), [Dollars], '1',                 [AdjustmentCode], case when @Client in('DVPC','DAVT') then 'MOVED' else 'WORKED' end,         101,         [AgencyNo], '3',     '3',      [DaylightSavTime], [Holiday], '', 0, NULL, [AprvlAdjOrigRecID], 'V',                 [AprvlAdjOrigClkAdjNo], [ClkTransNo], [ShiftDiffClass], [Borrowed], @UserCode,@UserCode,  [DivisionID], [CostID], [ShiftDiffAmt],NULL,NULL
  From TimeHistory..tblTimeHistDetail
  where client = @Client and groupcode = @Groupcode and PayrollPeriodEndDate = @PPED
  and SSN = @SSN and TransDate = @TransDate and DeptNo = @DeptNo and SiteNo = @SiteNo 
  and ShiftNo = @ShiftNo and isnull(ShiftDiffClass,'0') = @ShiftDiffClass
  and Holiday = @Holiday
  and ClockAdjustmentNo in('',' ','1')

  if @@Error <> 0 
  begin
    goto RollBackTransaction
  end  
  Set @RecordID = SCOPE_IDENTITY()

  -- Add the adjustment to tblAdjustments for auditing purposes and for physical clocks
  -- so it will get sent back to the time clock.
  INSERT INTO [TimeCurrent].[dbo].[tblAdjustments]([ReverseFlag], [OrigRecord_No], [Client], 
        [GroupCode], [PayrollPeriodEndDate], [SSN], [SiteNo], [DeptNo], [ClockAdjustmentNo], 
        [AdjustmentCode], [AdjustmentName], [HoursDollars], [MonVal], [TueVal], [WedVal], [ThuVal], 
        [FriVal], [SatVal], [SunVal], [WeekVal], [TotalVal], [UserName], [UserID], 
        [TransDateTime], [DeletedDateTime], [DeletedByUserName], [DeletedByUserID], [SweptDateTime], 
        [RecordStatus], [IPAddr], [ShiftNo],THDRecordID)
  (Select '', RecordID, Client, GroupCode, PayrollPeriodEndDate, SSN, SiteNo, DeptNo, ClockAdjustmentNo,
        '', AdjustmentName, 'H', 
        Case when InDay = 2 then Hours else 0 end,
        Case when InDay = 3 then Hours else 0 end,
        Case when InDay = 4 then Hours else 0 end,
        Case when InDay = 5 then Hours else 0 end,
        Case when InDay = 6 then Hours else 0 end,
        Case when InDay = 7 then Hours else 0 end,
        Case when InDay = 1 then Hours else 0 end,
        Case when InDay < 1 or InDay > 7 then Hours else 0 end,
        Hours, @UserName,@UserID,getdate(),null,null,null,null,'1','99.99.99.99',ShiftNo,RecordID
  from tblTimeHistdetail
  where RecordID = @RecordID)

  if @@Error <> 0 
  begin
    goto RollBackTransaction
  end  

  -- Create Positive Transaction in new Department
  --
  INSERT INTO [TimeHistory].[dbo].[tblTimeHistDetail]
        ([Client], [GroupCode], [SSN], [PayrollPeriodEndDate], [MasterPayrollDate], [SiteNo], [DeptNo], [JobID], [TransDate], [EmpStatus], [BillRate], [BillOTRate], [BillOTRateOverride], [PayRate], [ShiftNo], [InDay], [InTime],           [OutDay], [OutTime],          [Hours], [Dollars], [ClockAdjustmentNo], [AdjustmentCode], [AdjustmentName], [TransType], [AgencyNo], [InSrc], [OutSrc], [DaylightSavTime], [Holiday], [AprvlStatus], [AprvlStatus_UserID], [AprvlStatus_Date], [AprvlAdjOrigRecID], [HandledByImporter], [AprvlAdjOrigClkAdjNo], [ClkTransNo], [ShiftDiffClass], [Borrowed], [UserCode],[OutUserCode], [DivisionID], [CostID], [ShiftDiffAmt],[ActualInTime],[ActualOutTime])
  Select TOP 1 [Client], [GroupCode], [SSN], [PayrollPeriodEndDate], [MasterPayrollDate],CASE WHEN @NewSite = 0 THEN [SiteNo] ELSE @NewSite END, @NewDept, [JobID], [TransDate], [EmpStatus], [BillRate], [BillOTRate], [BillOTRateOverride], [PayRate], [ShiftNo], [InDay], [InTime], [OutDay], [OutTime],  @Hours, [Dollars], '1',                 [AdjustmentCode], case when @Client in('DVPC','DAVT') then 'MOVED' else 'WORKED' end,         101,         [AgencyNo], '3',     '3',      [DaylightSavTime], [Holiday], '', 0, NULL, [AprvlAdjOrigRecID], 'V',                 [AprvlAdjOrigClkAdjNo], [ClkTransNo], [ShiftDiffClass], [Borrowed], @UserCode, @UserCode, [DivisionID], [CostID], [ShiftDiffAmt],NULL,NULL
  From TimeHistory..tblTimeHistDetail
  where client = @Client and groupcode = @Groupcode and PayrollPeriodEndDate = @PPED
  and SSN = @SSN and TransDate = @TransDate and DeptNo = @DeptNo and SiteNo = @SiteNo 
  and ShiftNo = @ShiftNo and isnull(ShiftDiffClass,'0') = @ShiftDiffClass
  and Holiday = @Holiday
  and ClockAdjustmentNo in('',' ','1')

  if @@Error <> 0 
  begin
    goto RollBackTransaction
  end  
  Set @RecordID = SCOPE_IDENTITY()

  -- Add the adjustment to tblAdjustments for auditing purposes and for physical clocks
  -- so it will get sent back to the time clock.
  INSERT INTO [TimeCurrent].[dbo].[tblAdjustments]([ReverseFlag], [OrigRecord_No], [Client], 
        [GroupCode], [PayrollPeriodEndDate], [SSN], [SiteNo], [DeptNo], [ClockAdjustmentNo], 
        [AdjustmentCode], [AdjustmentName], [HoursDollars], [MonVal], [TueVal], [WedVal], [ThuVal], 
        [FriVal], [SatVal], [SunVal], [WeekVal], [TotalVal], [UserName], [UserID], 
        [TransDateTime], [DeletedDateTime], [DeletedByUserName], [DeletedByUserID], [SweptDateTime], 
        [RecordStatus], [IPAddr], [ShiftNo],THDRecordID)
  (Select '', RecordID, Client, GroupCode, PayrollPeriodEndDate, SSN, SiteNo, DeptNo, ClockAdjustmentNo,
        '', AdjustmentName, 'H', 
        Case when InDay = 2 then Hours else 0 end,
        Case when InDay = 3 then Hours else 0 end,
        Case when InDay = 4 then Hours else 0 end,
        Case when InDay = 5 then Hours else 0 end,
        Case when InDay = 6 then Hours else 0 end,
        Case when InDay = 7 then Hours else 0 end,
        Case when InDay = 1 then Hours else 0 end,
        Case when InDay < 1 or InDay > 7 then Hours else 0 end,
        Hours, @UserName,@UserID,getdate(),null,null,null,null,'1','99.99.99.99',ShiftNo,RecordID
  from tblTimeHistdetail
  where RecordID = @RecordID)

  if @@Error <> 0 
  begin
    goto RollBackTransaction
  end  


COMMIT TRANSACTION

RETURN

RollBackTransaction:
ROLLBACK TRANSACTION

RETURN






GO
