<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
    </assemblyBinding>
  </runtime>-->
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="rollingFile"/>
      <appender-ref ref="console"/>
    </root>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="SqlServerScripter.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyy.MM.dd"/>
      <param name="StaticLogFileName" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{yyyyMMdd HH:mm:ss} [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyyMMdd HH:mm:ss} [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <connectionStrings>
    <add name="CONN_STR" connectionString="Data Source={0};Initial Catalog={1};Integrated Security=true;Application Name=SqlServerScripter;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SRV_NAME" value="certsql1"/>
    <add key="TBL_LIST" value="C:\MS.NET-Projects\SqlServerScripter\SqlServerScripter\Final-TableList-TimeHist.xlsx"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
